@charset "utf-8";
/* CSS Document */
.top_say
{
	
}

.top_say_left {
	margin-top: 23px;
	width: 200px;
	height: 200px;
	border: 1px solid rgba(219,219,219,1.00);
	margin-left: 23px;
	overflow: hidden;
}
.top_say_left img
{
	height: 100%;
}

.top_say_right {
	height: 100%;
}

.big_title {
	margin-top: 20px;
	padding-bottom: 10px;
}

.title_h2 {
	font-weight: 800;
	letter-spacing: 13px;
	text-indent: 15px;
}

.title_aim {
	position: relative;
	width: 260px;
	height: 60px;
	margin: 0 auto;
	border-bottom: 2px solid rgba(40,74,236,1.00);
}
.title_aim p
{
	font-size: 19px;
	font-weight: 600;
	text-align: center;
	line-height: 60px;
}
.title_aim span:nth-of-type(1)
{
	width: 10px;
	height: 10px;
	border: 2px solid rgba(34,43,211,1.00);
	border-radius: 50%;
	position: absolute;
	bottom: -5px;
	left: -10px;
}
.title_aim span:nth-of-type(2)
{
	width: 10px;
	height: 10px;
	border: 2px solid rgba(34,43,211,1.00);
	border-radius: 50%;
	position: absolute;
	bottom: -5px;
	right: -10px;
}
.big_title_hr {
	height: 4px;
	background:rgba(40,68,231,0.9);
	width: 100%;
	margin: 5px auto;
	box-shadow: 0 1px 1px 2px rgba(34,43,211,0.6);
}

.small_title {
	height: 40px;
	width: 100%;
	margin: 0 auto;
	margin-top: 20px;
	position: relative;
}
.small_title span:nth-of-type(1)
{
	background: url(../images/small_title.png) no-repeat;
	background-size: cover;
	height: 40px;
	width: 120px;
	z-index: 10;
	position: absolute;
	font-size: 20px;
	line-height: 40px;
	font-weight: 600;
	color: rgba(236,230,230,1.00);
	text-indent: 17px;
}
.small_title span:nth-of-type(2)
{
	height: 2px;
	width: 89%;
	background: rgba(44,60,245,1.00);
	position: absolute;
	top: 55%;
	right: 0;
}

.table1 {
	font-size: 16px;
	margin-top: 30px;
	margin-left: 30px;
	color: rgba(68,121,245,1.00);
}
.table1 tr
{
	height: 30px;
}
.table1 td{
	width: 400px;
}

.studing_bg {
	width: 100%;
	color: rgba(68,121,245,1.00);
	font-size: 17px;
	padding-top: 30px;
	padding-left: 30px;
	padding-right: 30px;
}

.studing_p1 {
	
}
.studing_p1 span:nth-of-type(1)
{
	float: left;
}
.studing_p1 span:nth-of-type(2)
{
	margin-left: 28%;
}
.studing_p1 span:nth-of-type(3)
{
	float: right;
}

.studing_p2 {
	
}

.my_ability {
	width: 100%;
	font-size: 17px;
	padding-top: 30px;
	padding-left: 30px;
	padding-right: 30px;
}
.my_ability_p{
	margin-right: 20px;
	color:rgba(44,60,245,1.00);
	font-weight: 600;
}
.my_ability_space{
	color: rgba(68,121,245,1.00);
	margin-left: 2em;
}

.say_myself {
	width: 100%;
	color: rgba(68,121,245,1.00);
	font-size: 17px;
	padding-top: 30px;
	padding-left: 30px;
	padding-right: 30px;
	text-indent: 2em;
}

@media screen and (max-width:990px)
{
	.container{
		width: 100%;
		margin: 0;
	}
	.title_h2
	{
		font-size: 43px;
	}
	.title_aim
	{
		width: 400px;
	}
	.title_aim p
	{
		font-size: 30px;
	}
	.small_title
	{
		height: 70px;
	}
	.small_title span:nth-of-type(1)
	{
		background-size: cover;
		height: 70px;
		width: 200px;
		line-height: 70px;
		font-size: 30px;
		padding-left: 10px;
	}
	.table1
	{
		font-size: 26px;
	}
	.table1 td{
		width: 450px;
	}
	.top_say_left{
		margin: 20px auto;
	}
	.my_ability_p
	{
		font-size: 28px;
	}
	.studing_bg,.my_ability_space,.say_myself{
		font-size: 26px;
	}
}
